html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

.game-container {
    display: flex;
    height: 500px;
    padding: 50px;
    max-width: 1300px;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.drawing-container {
    position: "relative";
    display: inline-block;
}

.status-message {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.enter-btn {
    font-size: 0.6em;
    border: 4px solid black;
    background: none;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.5em;

    box-shadow: 
        black 1px 1px 0,
        black 2px 2px 0,
        black 3px 3px 0,
        black 4px 4px 0,
        black 5px 5px 0,
        black 6px 6px 0,
        black 7px 7px 0;

    transition: all 0.1s ease;
}

.enter-btn:hover{
    box-shadow: 0 0;
    transform: translate(6px, 6px);
}



.word-container {
    display: flex;
    justify-content: center;
}

.word {
    display: flex;
    gap: .25em;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.underline{
    border-bottom: .1em solid black;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.3em);
    }
    100% {
        transform: translateY(0);
    }
}

.letter {
    color: black;
}

.winner {
    display: inline-block;
    color: green;
    animation: jump 0.5s ease-in-out forwards;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-0.1em); }
    20%, 40%, 60%, 80% { transform: translateX(0.1em); }
}

.loser {
    display: inline-block;
    color: red;
    animation: shake 0.4s ease-in-out;
}


@media (max-width: 1300px) {
    html, body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .left-container {
        flex: 1;
    }

    .right-container {
        flex: 1;
    }
}

@media (max-width: 950px) {
    html, body {
        margin: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .game-title {
        font-size: 3rem;
    }

    .game-container {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .left-container {
        max-height: 300px;
    }

    .right-container {
        gap: 10px;
    }
    
    .drawing-container {
        transform: scale(0.5);
        transform-origin: center;
        max-height: 250px;
    }

    .word-container {
        transform: scale(0.5);
        transform-origin: center;
    }
}

@media (max-width: 450px) {
    .game-container {
        max-width: 380px;
    }
}
